:root {
    --black: #3f3f3f;
    --blue: #2e3c7d;
    --dark-blue: #131b5a;
    --light-grey: #f2f2f2;
    --grey: #a2a2a2;
    --dark-grey: #e5e5e5;
    --darker-grey: #c5c5c5;
}

body {
    background: var(--dark-grey);
}

.text-primary {
    color: var(--blue) !important;
}

.text-secondary {
    color: var(--black) !important;
}

.text-light {
    color: var(--grey) !important;
}

.border-secondary {
    border-color: var(--dark-grey) !important;
}

.bg-primary {
    background: var(--blue) !important;
}

.bg-secondary {
    background: var(--light-grey) !important;
}

ul.striped-list > li:nth-of-type(odd) {
    background: var(--light-grey);
}

li:hover {
    background: var(--dark-grey) !important;
}

.btn-primary {
    background: var(--blue) !important;
}

.btn-primary:hover {
    background: var(--dark-blue) !important;
}